<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link href="/css/terminal.css" rel="stylesheet" />
<script src="/script/jqueryterminal.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/1.21.0/css/jquery.terminal.min.css" rel="stylesheet" />

<body style="margin:0%" ;>
    <div class="tv" style="float:left; width: 100%">
        <div id="term" style="display: grid">
            <pre id="taag_output_text" style="float:left; margin: 0%; width: 100%; height:35%" class="fig" contenteditable="true"> 
         _____ _   _             ___   _      _______   __    _       ___  _    _______ _____ _   _ _____  _____ 
        /  __ \ | | |           / _ \ | |    |  ___\ \ / /   | |     / _ \| |  | | ___ \  ___| \ | /  __ \|  ___|
        | /  \/ | | |  ______  / /_\ \| |    | |__  \ V /    | |    / /_\ \ |  | | |_/ / |__ |  \| | /  \/| |__  
        | |   | | | | |______| |  _  || |    |  __| /   \    | |    |  _  | |/\| |    /|  __|| . ` | |    |  __| 
        | \__/\ \_/ /          | | | || |____| |___/ /^\ \   | |____| | | \  /\  / |\ \| |___| |\  | \__/\| |___ 
         \____/\___/           \_| |_/\_____/\____/\/   \/   \_____/\_| |_/\/  \/\_| \_\____/\_| \_/\____/\____/ 
                                                                                                                
        ########################################################################################################
        #####       LOCATION:     PORTSMOUTH, UK                                                           #####
        #####       TELEPHONE:    07397 850 247                   EMAIL:  ALEXJLAWRENCE88@GMAIL.COM        #####
        #####       JOB ROLE:     SOFTWARE DEVELOPER                                                       #####
        ########################################################################################################
                                                                                                                    </pre>
        </div>
        <div class="scanlines" style="width:100%"></div>
    </div>
    <script src="/script/terminal.js"></script>
    <script> 
        $('#term > div.terminal-wrapper > div.terminal-output > div:nth-child(1)').remove();
        $('#term > div.terminal-wrapper').css('overflow', 'hidden');        
    </script>
</body>